<div class="container" id="acercade">  
    <div class="col-uno">
        <img src="../../../assets/images/fotoPerfil.png" id="fotoPerfil" class="img-fluid border border-3 border-secondary">
        <h4 id="nombre">Carlos Marcano</h4>
        <p id="titulo">Full Stack Developer Jr</p>
    </div>
    <div class="col-dos"> 
        <h4>Acerca de mí...</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Sapiente blanditiis dolore, eum pariatur maiores ducimus 
        natus maxime qui, perspiciatis eveniet quia enim officia 
        non corrupti error temporibus? Nulla, vitae numquam? Lorem 
        ipsum dolor sit amet consectetur adipisicing elit. Hic 
        consequuntur quis assumenda natus voluptates deserunt maxime
        excepturi modi obcaecati. Porro ea assumenda id vel accusamus 
        enim? Itaque ipsam quisquam consequatur.
        </p>
    </div>
</div>