<div class="container" id="skills">
    <h3>Hard & Soft Skills</h3>
    <div class="titulo-content">
        <h4 class="text-center">Habilidades Tecnológicas</h4>
        <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#modalNewSkill" *ngIf="isLogged"><i class="fa-solid fa-plus"></i> Nueva Hard Skill</button>
    </div>    
    <div class="contenedor-sk1">
            <div class="grafico" *ngFor="let skill of skill">
                <circle-progress
                    [percent]="(skill.porcentaje)"
                    [radius]="65"     
                    [title]="(skill.nombre)"
                    [titleColor]="'#E44D26'"
                    [subtitle]="'100%'"
                    [showImage]="false"
                    [imageSrc]="'../../../../assets/images/html.png'"
                    [imageWidth]="70"
                    [imageHeight]="70"
                    [showSubtitle]="false"
                    [showUnits]="false"
                    [outerStrokeWidth]="7"
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#E44D26'"
                    [innerStrokeColor]="'#F16529'"
                    [animation]="true"
                    [animationDuration]="1500">
                    [responsive]="true"
                </circle-progress>

                <div class="botones">
                    <button class="btn btn-warning" *ngIf="isLogged" routerLink="/editskill/{{skill.id}}"><i class="fa-solid fa-pen-to-square"></i></button>
                    <button class="btn btn-danger" (click)="delete(skill.id)" *ngIf="isLogged"><i class="fa-solid fa-trash" ></i> </button>
                </div>
            </div>
        </div>
</div>
<app-soft-skills></app-soft-skills>
<app-new-skills></app-new-skills>

