.container{
    padding-top: 10px;
    padding-left: 20px;
    background-color: white;
}

.contenedor-sk1{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.contenedor-sk2{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}


