<div class="container">
    <h4>Hard & Soft Skills</h4>
    <h4 class="text-center">Habilidades Tecnológicas</h4>
        <div class="contenedor-sk1">
            <div>
                <circle-progress
                    [percent]="100"
                    [radius]="65"     
                    [title]="'HTML'"
                    [subtitle]="'100%'"
                    [showImage]="true"
                    [imageSrc]="'../../../../assets/images/html.png'"
                    [imageWidth]="70"
                    [imageHeight]="70"
                    [showSubtitle]="false"
                    [showUnits]="false"
                    [outerStrokeWidth]="7"
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#E44D26'"
                    [innerStrokeColor]="'#F16529'"
                    [animation]="true"
                    [animationDuration]="1500">
                    [responsive]="true"
                </circle-progress>
            </div>
            <div>
                <circle-progress
                    [percent]="90"
                    [radius]="65"     
                    [title]="'CSS'"
                    [subtitle]="'90%'"
                    [showImage]="true"
                    [imageSrc]="'../../../../assets/images/css.png'"
                    [imageWidth]="55"
                    [imageHeight]="70"
                    [showSubtitle]="true"
                    [showUnits]="false"
                    [outerStrokeWidth]="7"
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#264DE4'"
                    [innerStrokeColor]="'#264DE4'"
                    [animation]="true"
                    [animationDuration]="1500">
                    [responsive]="true"
                </circle-progress>
            </div>
            <div>
                <circle-progress
                    [percent]="70"
                    [radius]="65"     
                    [title]="'Angular'"
                    [subtitle]="'40%'"
                    [showImage]="true"
                    [imageSrc]="'../../../../assets/images/javascript.png'"
                    [imageWidth]="120"
                    [imageHeight]="70"
                    [showSubtitle]="true"
                    [showUnits]="false"
                    [outerStrokeWidth]="7"
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#E4A126'"
                    [innerStrokeColor]="'#F0BE25'"
                    [animation]="true"
                    [animationDuration]="1500">
                    [responsive]="true"
                </circle-progress>
            </div>
            <div>
                <circle-progress
                    [percent]="60"
                    [radius]="65"     
                    [title]="'Angular'"
                    [subtitle]="'40%'"
                    [showImage]="true"
                    [imageSrc]="'../../../../assets/images/angular.png'"
                    [imageWidth]="60"
                    [imageHeight]="65"
                    [showSubtitle]="true"
                    [showUnits]="false"
                    [outerStrokeWidth]="7"
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#B52E31'"
                    [innerStrokeColor]="'#E23237'"
                    [animation]="true"
                    [animationDuration]="1500">
                    [responsive]="true"
                </circle-progress>
            </div>
            <div>
                <circle-progress
                    [percent]="60"
                    [radius]="65"     
                    [title]="'Angular'"
                    [subtitle]="'40%'"
                    [showImage]="true"
                    [imageSrc]="'../../../../assets/images/react.png'"
                    [imageWidth]="100"
                    [imageHeight]="60"
                    [showSubtitle]="true"
                    [showUnits]="false"
                    [outerStrokeWidth]="7"
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#00D5FC'"
                    [innerStrokeColor]="'#77EBFF'"
                    [animation]="true"
                    [animationDuration]="1500">
                    [responsive]="true"
                </circle-progress>
            </div>
        </div>

        <div class="contenedor-sk2">
            <div>
                <circle-progress
                    [percent]="60"
                    [radius]="65"     
                    [title]="'HTML'"
                    [subtitle]="'100%'"
                    [showImage]="true"
                    [imageSrc]="'../../../../assets/images/typescript.png'"
                    [imageWidth]="55"
                    [imageHeight]="55"
                    [showSubtitle]="true"
                    [showUnits]="false"
                    [outerStrokeWidth]="7"
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#3178C6'"
                    [innerStrokeColor]="'#83AFE0'"
                    [animation]="true"
                    [animationDuration]="1500">
                    [responsive]="true"
                </circle-progress>
            </div>
            <div>
                <circle-progress
                    [percent]="60"
                    [radius]="65"     
                    [title]="'CSS'"
                    [subtitle]="'90%'"
                    [showImage]="true"
                    [imageSrc]="'../../../../assets/images/node.png'"
                    [imageWidth]="90"
                    [imageHeight]="60"
                    [showSubtitle]="true"
                    [showUnits]="false"
                    [outerStrokeWidth]="7"
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#3E863D'"
                    [innerStrokeColor]="'#55954E'"
                    [animation]="true"
                    [animationDuration]="1500">
                    [responsive]="true"
                </circle-progress>
            </div>
            <div>
                <circle-progress
                    [percent]="65"
                    [radius]="65"     
                    [title]="'Angular'"
                    [subtitle]="'40%'"
                    [showImage]="true"
                    [imageSrc]="'../../../../assets/images/java.png'"
                    [imageWidth]="80"
                    [imageHeight]="80"
                    [showSubtitle]="true"
                    [showUnits]="false"
                    [outerStrokeWidth]="7"
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#CA3132'"
                    [innerStrokeColor]="'#3174B9'"
                    [animation]="true"
                    [animationDuration]="1500">
                    [responsive]="true"
                </circle-progress>
            </div>
            <div>
                <circle-progress
                    [percent]="70"
                    [radius]="65"     
                    [title]="'Angular'"
                    [subtitle]="'40%'"
                    [showImage]="true"
                    [imageSrc]="'../../../../assets/images/php.png'"
                    [imageWidth]="80"
                    [imageHeight]="40"
                    [showSubtitle]="true"
                    [showUnits]="false"
                    [outerStrokeWidth]="7"
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#777BB3'"
                    [innerStrokeColor]="'#AEB2D5'"
                    [animation]="true"
                    [animationDuration]="1500">
                    [responsive]="true"
                </circle-progress>
            </div>
            <div>
                <circle-progress
                    [percent]="90"
                    [radius]="65"     
                    [title]="'Angular'"
                    [subtitle]="'40%'"
                    [showImage]="true"
                    [imageSrc]="'../../../../assets/images/mysql.png'"
                    [imageWidth]="80"
                    [imageHeight]="40"
                    [showSubtitle]="true"
                    [showUnits]="false"
                    [outerStrokeWidth]="7"
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#00698E'"
                    [innerStrokeColor]="'#CF8B2B'"
                    [animation]="true"
                    [animationDuration]="1500">
                    [responsive]="true"
                </circle-progress>
            </div>
        </div>
        <h4 class="text-center pt-5">Habilidades Blandas</h4>
        <div class="contenedor-sk3 pb-5">
            <div class="card">
                <img src="../../../../assets/images/comunicacion.png" class="img-com img-fluid card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-center">Comunicación Efectiva</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">90 %</div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="../../../../assets/images/responsabilidad.png" class="img-res img-fluid card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-center">Responsabilidad</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">100 %</div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="../../../../assets/images/workteam.png" class="img-team img-fluid card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-center">Trabajo en Equipo</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">100 %</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenedor-sk4 pb-3">
            <div class="card">
                <img src="../../../../assets/images/interpersonales.png" class="img-rel img-fluid card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-center">Relaciones Interpersonales</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">90 %</div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="../../../../assets/images/solucion.png" class="img-res img-fluid card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-center">Resolución de Problemas</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">85 %</div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="../../../../assets/images/adaptacion.png" class="img-adp img-fluid card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-center">Adaptacion a Cambios</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">90 %</div>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="text-center pt-5">Idiomas</h4>
        <div class="contenedor-sk5 row pb-5">
            <div class="col-6">
                <h6 class="text-center">Español - Nativo</h6>
                <div class="progress pro-idioma">
                    <div class="progress-bar bg-success progress-bar-striped" style="width:100%">100 %</div>
                </div>
            </div>
            <div class="col-6">
                <h6 class="text-center">Ingles</h6>
                <div class="progress pro-idioma">
                    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:60%">60 %</div>
                </div>
            </div>
        </div>
</div>
