<div class="modal fade" id="modalNewProyecto">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

        <div class="modal-header">
            <h4 class="modal-title fw-bold text-uppercase">Agregar Nuevo Proyecto</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
            <div class="container-form">
            <p class="text-black-50">Por favor complete los campos</p>
                <form #form="ngForm" (ngSubmit)="onCreate()" novalidate>

                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="nombreSoft" name="nombreSoft" [(ngModel)]="nombre" placeholder="Nombre Proyecto" required>
                        <label class="form-label" for="nombreSoft">Nombre Proyecto:</label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="descripcion" placeholder="Descripcion" required>
                        <label class="form-label" for="descripcion">Descripcion:</label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="enlace" name="enlace" [(ngModel)]="enlace" placeholder="Enlace" required>
                        <label class="form-label" for="enlace">Enlace:</label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="file" class="form-control" id="img" name="img" [(ngModel)]="img" placeholder="Imagen" required>
                    </div>

                    <div class="botones">
                        <button class="btn btn-primary m-4" data-bs-dismiss="modal"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="modal-footer">
           
        </div>
    </div>
  </div>
</div>