<div class="container" id="proyectos">
    <h4>Proyectos Realizados</h4>
    <!-- Carousel -->
    <div id="proyecto" class="carousel slide" data-bs-ride="carousel">

        <!-- Indicadores -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#proyecto" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#proyecto" data-bs-slide-to="1"></button>
        </div>
        
        <!-- Slide de Imagenes-->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../../assets/images/banner3.png" alt="Portafolio" class="d-block img-fluid img-proyecto1" style="width:100%">
                <div class="carousel-caption">
                    <h3>Portafolio Web</h3>
                    <p>Proyecto Integrador - Argentina Programa #YoProgramo</p>
                    <a href="#">Enlace Aqui</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../../../assets/images/chuck2.png" alt="ChuckNorris Practica" class="d-block img-fluid img-proyecto2" style="width:100%">
                <div class="carousel-caption">
                    <h3>Botonera + Frases ChuckNorris</h3>
                    <p>Ejercicio Javascript - Codo a Codo</p>
                    <a href="#">Enlace Aqui</a>
                </div>
            </div>
        </div>
        
        <!-- Iconos de Movimiento Izquierda / Derecha -->
        <button class="carousel-control-prev" type="button" data-bs-target="#proyecto" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#proyecto" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</div>