<div class="container" id="proyectos">
    <div class="titulo-content">
        <h4>Proyectos Realizados</h4> 
        <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#modalNewProyecto" *ngIf="isLogged"><i class="fa-solid fa-plus"></i> Nuevo Proyecto</button>
    </div>
    <!-- Carousel -->
    <div id="proyecto" class="carousel slide" data-bs-ride="carousel">

        <!-- Indicadores -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#proyecto" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#proyecto" data-bs-slide-to="1"></button>
        </div>
        
        <!-- Slide de Imagenes-->
        <div class="carousel-inner">
            <div class="carousel-item active" *ngFor="let proyecto of proyecto">
                <img src="../../../../assets/images/proyectos.png" alt="Portafolio" class="d-block img-fluid img-proyecto1" style="width:100%">
                <div class="carousel-caption">
                    <h3>{{proyecto.nombre}}</h3>
                    <p>{{proyecto.descripcion}}</p>
                    <div class="botones">
                        <a href="{{proyecto.enlace}}" target="_blank"><button class="btn btn-primary"><i class="fa-solid fa-link"></i>Enlace</button></a>
                        <button class="btn btn-warning" *ngIf="isLogged" routerLink="/editproyecto/{{proyecto.id}}"><i class="fa-solid fa-pen-to-square"></i></button>
                        <button class="btn btn-danger" (click)="delete(proyecto.id)" *ngIf="isLogged"><i class="fa-solid fa-trash" ></i> </button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Iconos de Movimiento Izquierda / Derecha -->
        <button class="carousel-control-prev" type="button" data-bs-target="#proyecto" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#proyecto" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</div>
<app-new-proyectos></app-new-proyectos>