<div class="container-fluid">
    <div class="socialMedia"> 
        <a href="https://www.linkedin.com/in/carlos-marcan0/"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/ghostblizt"><i class="fa-brands fa-github"></i></a>
        <a href="mailto:carlos.marcano@live.com"><i class="fa-solid fa-envelope"></i></a>
        <a href="https://www.facebook.com/carlos.marcan0/"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://twitter.com/carlosmarcan0"><i class="fa-brands fa-twitter"></i></a>
        <a href="#" data-bs-toggle="modal" data-bs-target="#modalLogin" *ngIf="!isLogged">LogIn <i class="fa-solid fa-right-to-bracket"></i></a>
        <a href="#" (click)="onLogOut()" *ngIf="isLogged">LogOut <i class="fa-solid fa-right-from-bracket"></i></a>
    </div>  
</div>

<app-login></app-login>