<div class="container-fluid">
    <div class="navegacion"> 
        <a href="#acercade" data-bs-placement="bottom" title="AcercaDe"><i class="fa-solid fa-address-card"></i></a>
        <a href="#experiencia" data-bs-placement="bottom" title="Experiencia"><i class="fa-solid fa-file-contract"></i></a>
        <a href="#educacion" data-bs-placement="bottom" title="Educación"><i class="fa-solid fa-graduation-cap"></i></a>
        <a href="#skills" data-bs-placement="bottom" title="Skills"><i class="fa-solid fa-laptop-code"></i></a>
        <a href="#proyectos" data-bs-placement="bottom" title="Proyectos"><i class="fa-solid fa-box-archive"></i></a>
    </div>
    <div class="socialMedia"> 
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        <a href="#"><i class="fa-brands fa-github"></i></a>
        <a href="#"><i class="fa-solid fa-envelope"></i></a>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#">Login <i class="fa-solid fa-right-to-bracket"></i></a>
    </div>  
</div>