    <div class="container" *ngIf="expLab">
        <h4>Editar Experiencia</h4>
            <p class="text-black-50">Complete los Campos</p>
                <form #form="ngForm" (ngSubmit)="onUpdate()" novalidate>

                    <div class="form-group mb-2">
                        <label for="nombreExp">Empresa:</label>
                        <input type="text" class="form-control" id="nombreExp" name="nombreExp" [(ngModel)]="expLab.nombreExp" required>
                    </div>

                    <div class="form-group mb-2">
                        <label for="descripcionExp">Descripcion:</label>
                        <input type="text" class="form-control" id="descripcionExp" name="descripcionExp" [(ngModel)]="expLab.descripcionExp" required>
                    </div>

                    <div class="form-group mb-2">
                        <label for="cargo">Cargo:</label>
                        <input type="text" class="form-control" id="cargo" name="cargo" [(ngModel)]="expLab.cargo" required>
                    </div>

                    <div class="form-group mb-2">
                        <label for="fechaIngreso">Fecha Ingreso:</label>
                        <input type="text" class="form-control" id="fechaIngreso" name="fechaIngreso" [(ngModel)]="expLab.fechaIngreso" required>
                    </div>

                    <div class="form-group mb-2">
                        <label for="fechaEgreso">Fecha Egreso:</label>
                        <input type="text" class="form-control" id="fechaEgreso" name="fechaEgreso" [(ngModel)]="expLab.fechaEgreso">
                    </div>

                    <div class="botones">
                        <button class="btn btn-primary m-4"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
                        <button class="btn btn-danger m-4" routerLink=""><i class="fa-solid fa-ban"></i> Cancelar</button>
                    </div>
                </form>
            </div>