<div class="container" id="experiencia">
    <h4>Experiencia</h4>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <h5>Practia Global - (Tiempo)</h5>
            <h6>Cargo</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Maxime itaque illo deleniti qui? Recusandae quo ducimus 
                 itaque mollitia quis error architecto deleniti rem impedit. 
                 Eos quae vitae quos reiciendis pariatur.
            </p>
        </li>
        <li class="list-group-item">
            <h5>Practia Global - (Tiempo)</h5>
            <h6>Cargo</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Maxime itaque illo deleniti qui? Recusandae quo ducimus 
                 itaque mollitia quis error architecto deleniti rem impedit. 
                 Eos quae vitae quos reiciendis pariatur.
            </p>
        </li>
      </ul>
</div>