<div class="container" id="experiencia">
    <table>
        <thead>
            <h4>Experiencia</h4> 
            <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#modalNewExp" *ngIf="isLogged"><i class="fa-solid fa-plus"></i></button>
        </thead>
        <tbody>
            <tr *ngFor="let Experiencia of exp">
                <td>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="nombreE">
                                <h5>{{Experiencia.nombreExp}}</h5> 
                                <p id="fechas">{{Experiencia.fechaIngreso}} - {{Experiencia.fechaEgreso}}</p>
                            </div>
                            
                            <h6>{{Experiencia.cargo}}</h6>
                            <p>{{Experiencia.descripcionExp}}
                            </p>
                        </li>
                    </ul>
                </td>
                <td>
                    <button *ngIf="isLogged"><i class="fa-solid fa-pen-to-square"></i></button>
                </td>
                <td>
                    <button *ngIf="isLogged"><i class="fa-solid fa-trash" ></i> </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<app-new-experiencia></app-new-experiencia>
<app-editar-experiencia></app-editar-experiencia>