.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(223, 223, 223);
    height: auto;
}

.col-uno{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    width: 100%;
    border-radius: 100%;
}

.col-dos{
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 10px;
    text-align: justify;
}

#fotoPerfil{
    position: absolute;
    top: 160px;
    left: 160px;
    width: 150px;
    border-radius: 100%;
}

#nombre{
    padding-top: 100px;
    font-weight:bold;
}

#titulo{
    font-weight:bold;
}

@media(max-width:821px){
    #fotoPerfil{
        width: 15%;
        top: 140px;
        left: 80px; 
    }
}

@media(max-width:576px){
    .container{
        flex-direction: column;
    }

    #fotoPerfil{
        width: 20%;
        border-radius: 100%;
        position: absolute;
        top: 130px;
        left: 170px; 
    }

    #nombre{
        padding-top: 70px;
        font-weight:bold;
    }

    #titulo{
        font-weight:bold;
    }

    .col-uno{
        padding: 0;
        text-align: justify;
    }

    .col-dos{
        margin-left: 0px;
        padding: 10px;
        text-align: justify;
    }
}