<div class="container" id="acercade">  
    <div class="col-uno">
        <img src="../../../assets/images/fotoPerfil.png" id="fotoPerfil" class="img-fluid border border-3 border-secondary">
        <h4 id="nombre">{{persona.nombre}} {{persona.apellido}}</h4>
        <p id="titulo">{{persona.cargo}}</p>
    </div>
    <div class="col-dos"> 
        <h4>Acerca de mí...</h4>
        <button class="btn btn-warning" *ngIf="isLogged" routerLink="/editpersona/{{persona.id}}"><i class="fa-solid fa-pen-to-square"></i></button>
        <p>{{persona.acercade}}</p>
    </div>
</div>